MEMORY {
	# r/w memory segments
	ZEROPAGE:       start = $0002, 	size = $00FF;
	
	STACK:          start = $0100, 	size = $0100;
	KVAR:           start = $0200, 	size = $0200;
    SCREEN:  		start = $0400, 	size = $0400;
    VICII:          start = $D000, 	size = $001F;
    CIA1:           start = $DC00, 	size = $0010;
    CIA2:           start = $DD00, 	size = $0010;
    SID:            start = $D400, 	size = $000F;

	# KERNAL ROM E000-FFFF
    CORE:     	start = $E000, size = $0400, fill=yes, fillval=$FF, file=%O;
    DRIVERS:    start = $E400  size = $14FA, fill=yes, fillval=$00, file=%O;
	INIT:       start = $F8FA, size = $0200, fill=yes, fillval=$00, file=%O;
	ISR:        start = $FAFA, size = $0200, fill=yes, fillval=$00, file=%O;
	K_CONST:    start = $FCFA, size = $0200, fill=yes, fillval=$00, file=%O;
	SYSCALL:    start = $FEFA, size = $0100, fill=yes, fillval=$00, file=%O;
	VECTORS:    start = $FFFA, size = $0006, fill=yes, fillval=$FF, file=%O;
}

SEGMENTS {
	ZEROPAGE:           load = ZEROPAGE,    type = zp;
	STACK:              load = STACK,       type = bss;
	KVAR:               load = KVAR,        type = bss;
	SCREEN_MEMORY:      load = SCREEN, 		type = bss;
    CIA1:               load = CIA1,        type = bss;
    CIA2:               load = CIA2,        type = bss;

	CORE:             	load = CORE,      	type = ro;
    DRIVERS:            load = DRIVERS,     type = ro;
	INIT:               load = INIT,        type = ro;
	ISR:                load = ISR,  	    type = ro;
	SYSCALL:            load = SYSCALL,     type = ro;
	K_CONST:            load = K_CONST,     type = ro;
	VECTORS:            load = VECTORS,     type = ro;
}
