FEATURES {
    STARTADDRESS: default = $A000;
}

SYMBOLS {
    __CSTACK_START__    :   type = weak, value = $1000;
    __CSTACK_SIZE__     :   type = weak, value = $0100; 
    __HW_STACK_START__  :   type = weak, value = $FF;
    __HW_STACK_SIZE__   :   type = weak, value = $1F;
    __PROGRAM_START__   :   type = weak, value = %S;    
}

MEMORY {
	# r/w memory segments
    ZP:             start = $00E0,  size = $0020, define = yes;  
    BSS:            start = $0800,  size = $200;
    
	# TEST ROM A000-BFFF
    STARTUP:        start = __PROGRAM_START__,  size = $0020, fill = yes, fillval = $00, file=%O;
    CODE:           start = $A020,              size = $2000, fill = yes, fillval = $00, file=%O;   
}

SEGMENTS {
    ZEROPAGE:   load = ZP           type = zp;
    BSS:        load = BSS          type = bss, define = yes;
    RODATA:     load = CODE,        type = ro;
    STARTUP:    load = STARTUP,     type = ro;
	CODE:       load = CODE,        type = ro;
}

FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
